<a href="https://colab.research.google.com/github/Mgobeaalcoba/Exploration_Data_Analyst/blob/main/12_Integracion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducción

*Integración de datos* 

-----

Aquí empezamos con la limpieza de datos y *feature engineering*

Si no tienes el acceso directo de noteboook este es el [link](https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo?hl=en)

# Llamar los datos

In [1]:
#Llamamos el set de datos público 
import pandas as pd
url_wine_red = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/winequality-red.csv'
url_wine_white = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/winequality-white.csv'

In [2]:
red=pd.read_csv(url_wine_red,delimiter=';')
white=pd.read_csv(url_wine_white,delimiter=';')

In [3]:
red.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [4]:
white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

In [5]:
red.append(white)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
4893            6.2              0.21         0.29  ...       0.50     11.2        6
4894            6.6              0.32         0.36  ...       0.46      9.6        5
4895            6.5              0.24         0.19  ...       0.46      9.4        6
4896            5.5              0.29         0.30  ...       0.38     12.8        7
4897            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [7]:
# Genero una nueva columna donde voy a detallar que tipo de vino se trata
red['color']='red'
white['color']='white'

In [10]:
red.append(white) # Primera forma de unir usando el append

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  color
0               7.4              0.70         0.00  ...      9.4        5    red
1               7.8              0.88         0.00  ...      9.8        5    red
2               7.8              0.76         0.04  ...      9.8        5    red
3              11.2              0.28         0.56  ...      9.8        6    red
4               7.4              0.70         0.00  ...      9.4        5    red
...             ...               ...          ...  ...      ...      ...    ...
4893            6.2              0.21         0.29  ...     11.2        6  white
4894            6.6              0.32         0.36  ...      9.6        5  white
4895            6.5              0.24         0.19  ...      9.4        6  white
4896            5.5              0.29         0.30  ...     12.8        7  white
4897            6.0              0.21         0.38  ...     11.8        6  white

[6497 rows x 13 columns]

In [11]:
pd.concat([white,red]) # Segunda forma de unir usando el concat de pandas

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  color
0               7.0             0.270         0.36  ...      8.8        6  white
1               6.3             0.300         0.34  ...      9.5        6  white
2               8.1             0.280         0.40  ...     10.1        6  white
3               7.2             0.230         0.32  ...      9.9        6  white
4               7.2             0.230         0.32  ...      9.9        6  white
...             ...               ...          ...  ...      ...      ...    ...
1594            6.2             0.600         0.08  ...     10.5        5    red
1595            5.9             0.550         0.10  ...     11.2        6    red
1596            6.3             0.510         0.13  ...     11.0        6    red
1597            5.9             0.645         0.12  ...     10.2        5    red
1598            6.0             0.310         0.47  ...     11.0        6    red

[6497 rows x 13 columns]

Tmb podemos usar el merge. Para uniones del tipo "left", "right", "union", "join", etc como si estuviesemos trabajando con SQL

In [12]:
left=pd.DataFrame({'Key':['key1', 'key2', 'key3']
              ,'A':['a1', 'a2', 'a3']
})

In [13]:
right=pd.DataFrame({'Key':['key3', 'key4', 'key5']
              ,'B':['b1', 'b2', 'b3']
})

In [14]:
left

    Key   A
0  key1  a1
1  key2  a2
2  key3  a3

In [15]:
right

    Key   B
0  key3  b1
1  key4  b2
2  key5  b3

In [16]:
pd.merge(left, right,on='Key') # merge de tipo join, es el que sale por default.

    Key   A   B
0  key3  a3  b1

In [17]:
pd.merge(left, right,on='Key',how='left') # Si especifico el how entonces puedo decirle que
# haga una union por izquierda, por derecha, etc.

    Key   A    B
0  key1  a1  NaN
1  key2  a2  NaN
2  key3  a3   b1