<a href="https://colab.research.google.com/github/Mgobeaalcoba/Exploration_Data_Analyst/blob/main/13_Pivot_tables_y_cross_tabulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducción

*Pivot tables y cross-tabulations* 

-----

Aquí empezamos con la limpieza de datos y *feature engineering*

# Llamar los datos

In [1]:
#Llamamos el set de datos publico 
Chicago_data = 'https://raw.githubusercontent.com/terranigmark/curso-analisis-exploratorio-datos-platzi/main/Traffic_Crashes1.csv'

In [2]:
import pandas as pd

In [3]:
Chicago_df=pd.read_csv(Chicago_data)

In [4]:
Chicago_df.head()

   Unnamed: 0  ...   date_real
0      290702  ...  2017-02-14
1      405524  ...  2019-08-13
2      261834  ...  2019-05-22
3       38519  ...  2017-06-14
4      420197  ...  2018-05-03

[5 rows x 51 columns]

*Transformaciones * básicas

In [5]:
Chicago_df['CRASH_DATE'] = Chicago_df['CRASH_DATE'].apply(lambda x: pd.to_datetime(x,errors='coerce', utc=True))

In [6]:
Chicago_df.groupby(['LIGHTING_CONDITION','REPORT_TYPE','CRASH_HOUR']).agg({'BEAT_OF_OCCURRENCE':'sum',})

                                                          BEAT_OF_OCCURRENCE
LIGHTING_CONDITION REPORT_TYPE                CRASH_HOUR
DARKNESS           AMENDED                    20                      1614.0
                   NOT ON SCENE (DESK REPORT) 0                      64739.0
                                              1                      60086.0
                                              2                      36251.0
                                              3                      39172.0
...                                                                      ...
UNKNOWN            ON SCENE                   19                      4735.0
                                              20                      8113.0
                                              21                      6122.0
                                              22                      9699.0
                                              23                      3176.0

[291 rows x 1 columns]

In [9]:
table = pd.pivot_table(Chicago_df, index =["LIGHTING_CONDITION","REPORT_TYPE"]) # Con Pivot Table solo selecciono los indices y me arroja todas las metricas ¿Sumadas? 
table

                                                   BEAT_OF_OCCURRENCE  ...     Unnamed: 0
LIGHTING_CONDITION     REPORT_TYPE                                     ...
DARKNESS               AMENDED                            1614.000000  ...  322381.000000
                       NOT ON SCENE (DESK REPORT)         1183.079090  ...  230103.153846
                       ON SCENE                           1166.488235  ...  214160.031373
DARKNESS, LIGHTED ROAD AMENDED                             922.666667  ...  315089.333333
                       NOT ON SCENE (DESK REPORT)         1298.297699  ...  233109.353378
                       ON SCENE                           1223.077152  ...  219285.096358
DAWN                   NOT ON SCENE (DESK REPORT)         1137.302789  ...  230564.916335
                       ON SCENE                           1183.760181  ...  206568.773756
DAYLIGHT               AMENDED                            1261.692308  ...  204369.538462
                       NOT ON SCENE (DESK REPORT)         1263.180461  ...  229400.869647
                       ON SCENE                           1228.757692  ...  215604.418935
DUSK                   AMENDED                             321.500000  ...  238542.500000
                       NOT ON SCENE (DESK REPORT)         1252.676892  ...  224259.257669
                       ON SCENE                           1223.255319  ...  236552.328267
UNKNOWN                NOT ON SCENE (DESK REPORT)         1410.566406  ...  227247.088427
                       ON SCENE                           1258.668394  ...  199036.533679

[16 rows x 18 columns]

In [11]:
 Chicago_df.filter(["REPORT_TYPE","CRASH_DAY_OF_WEEK"],axis=1) # Otra forma de agrupar como pivot table y group by

                      REPORT_TYPE  CRASH_DAY_OF_WEEK
0      NOT ON SCENE (DESK REPORT)                  3
1                        ON SCENE                  3
2                        ON SCENE                  4
3                        ON SCENE                  4
4      NOT ON SCENE (DESK REPORT)                  5
...                           ...                ...
27956                    ON SCENE                  1
27957  NOT ON SCENE (DESK REPORT)                  7
27958                    ON SCENE                  4
27959  NOT ON SCENE (DESK REPORT)                  5
27960  NOT ON SCENE (DESK REPORT)                  3

[27961 rows x 2 columns]

In [15]:
cross_table = pd.crosstab(Chicago_df["LIGHTING_CONDITION"], Chicago_df['CRASH_HOUR']) # Recuento cruzado de categorias. 
cross_table

CRASH_HOUR               0    1    2    3    4   ...   19   20   21   22   23
LIGHTING_CONDITION                               ...
DARKNESS                 82   76   63   62   60  ...  161  166  154  126  108
DARKNESS, LIGHTED ROAD  449  358  343  243  184  ...  528  607  656  648  547
DAWN                      5    2    3    2   16  ...   33   13    2    4    2
DAYLIGHT                 12   19   13    8   17  ...  315   70   19   14    9
DUSK                      5    4    3    6    7  ...  147   75   25   15    8
UNKNOWN                  40   29   23   20   15  ...   41   42   41   32   24

[6 rows x 24 columns]

In [16]:
Chicago_df

       Unnamed: 0  ...   date_real
0          290702  ...  2017-02-14
1          405524  ...  2019-08-13
2          261834  ...  2019-05-22
3           38519  ...  2017-06-14
4          420197  ...  2018-05-03
...           ...  ...         ...
27956      260197  ...  2019-07-21
27957      287015  ...  2018-05-12
27958       45454  ...  2018-10-10
27959      278265  ...  2019-05-02
27960      351224  ...  2017-08-08

[27961 rows x 51 columns]

In [17]:
pd.crosstab(Chicago_df["TRAFFIC_CONTROL_DEVICE"],
            Chicago_df["WEATHER_CONDITION"],
            margins=True,
            margins_name="LIGHTING_CONDITION")

WEATHER_CONDITION         BLOWING SNOW  CLEAR  ...  UNKNOWN  LIGHTING_CONDITION
TRAFFIC_CONTROL_DEVICE                         ...
DELINEATORS                          0      5  ...        3                  11
FLASHING CONTROL SIGNAL              0      3  ...        0                   4
LANE USE MARKING                     0     62  ...        4                  74
NO CONTROLS                          2  13084  ...      687               16183
NO PASSING                           0      0  ...        0                   1
OTHER                                0    121  ...       11                 166
OTHER RAILROAD CROSSING              0      6  ...        0                   7
OTHER REG. SIGN                      0     19  ...        0                  25
OTHER WARNING SIGN                   0     18  ...        0                  24
PEDESTRIAN CROSSING SIGN             0      7  ...        0                  11
POLICE/FLAGMAN                       0     11  ...        0                  15
RAILROAD CROSSING GATE               0     14  ...        0                  17
RR CROSSING SIGN                     0      1  ...        1                   2
SCHOOL ZONE                          0      6  ...        0                   8
STOP SIGN/FLASHER                    0   2103  ...       63                2703
TRAFFIC SIGNAL                       0   6284  ...      138                7751
UNKNOWN                              0    482  ...      341                 921
YIELD                                0     34  ...        1                  38
LIGHTING_CONDITION                   2  22260  ...     1249               27961

[19 rows x 12 columns]

In [18]:
pd.crosstab(Chicago_df["TRAFFIC_CONTROL_DEVICE"], Chicago_df["WEATHER_CONDITION"],normalize=True).head(10)

WEATHER_CONDITION         BLOWING SNOW     CLEAR  ...      SNOW   UNKNOWN
TRAFFIC_CONTROL_DEVICE                            ...
DELINEATORS                   0.000000  0.000179  ...  0.000000  0.000107
FLASHING CONTROL SIGNAL       0.000000  0.000107  ...  0.000000  0.000000
LANE USE MARKING              0.000000  0.002217  ...  0.000036  0.000143
NO CONTROLS                   0.000072  0.467937  ...  0.019527  0.024570
NO PASSING                    0.000000  0.000000  ...  0.000000  0.000000
OTHER                         0.000000  0.004327  ...  0.000322  0.000393
OTHER RAILROAD CROSSING       0.000000  0.000215  ...  0.000000  0.000000
OTHER REG. SIGN               0.000000  0.000680  ...  0.000072  0.000000
OTHER WARNING SIGN            0.000000  0.000644  ...  0.000000  0.000000
PEDESTRIAN CROSSING SIGN      0.000000  0.000250  ...  0.000036  0.000000

[10 rows x 11 columns]

In [19]:
pd.melt(Chicago_df, id_vars=['TRAFFIC_CONTROL_DEVICE'], value_vars=['WEATHER_CONDITION'])

      TRAFFIC_CONTROL_DEVICE           variable            value
0                NO CONTROLS  WEATHER_CONDITION            CLEAR
1             TRAFFIC SIGNAL  WEATHER_CONDITION            CLEAR
2          STOP SIGN/FLASHER  WEATHER_CONDITION             RAIN
3                    UNKNOWN  WEATHER_CONDITION          UNKNOWN
4                NO CONTROLS  WEATHER_CONDITION             RAIN
...                      ...                ...              ...
27956            NO CONTROLS  WEATHER_CONDITION             RAIN
27957            NO CONTROLS  WEATHER_CONDITION  CLOUDY/OVERCAST
27958      STOP SIGN/FLASHER  WEATHER_CONDITION             RAIN
27959         TRAFFIC SIGNAL  WEATHER_CONDITION             RAIN
27960            NO CONTROLS  WEATHER_CONDITION            CLEAR

[27961 rows x 3 columns]